services:
  spectre-server:
    container_name: spectre-server
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: runtime
    image: spectre-server:latest
    entrypoint: ["/bin/bash", "/app/entrypoint.sh"]
    command: ["/app/cmd.sh"]
    environment:
      - SPECTRE_GID=${SPECTRE_GID}
      - SPECTRE_BIND_HOST=${SPECTRE_BIND_HOST}
      - SPECTRE_BIND_PORT=${SPECTRE_BIND_PORT}
    group_add:
      - "${SPECTRE_GID}"
    networks:
      - spectre-network
    volumes:
      - spectre-data:/app/.spectre-data
    devices:
      - "/dev/bus/usb"
    ports:
      - ${SPECTRE_PORT_MAP}
    mem_limit: 8g
    shm_size: 8g
    stop_signal: SIGKILL

  spectre-cli:
    container_name: spectre-cli
    image: jcfitzpatrick12/spectre-cli:2.0.0-alpha
    environment:
      - SPECTRE_SERVER_HOST=${SPECTRE_SERVER_HOST}
      - SPECTRE_SERVER_PORT=${SPECTRE_SERVER_PORT}
    networks:
      - spectre-network
    depends_on:
      - spectre-server
    tty: true
    stop_signal: SIGKILL

  spectre-frontend:
    container_name: spectre-frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: production
    image: spectre-frontend:latest
    networks:
      - spectre-network
    depends_on:
      - spectre-server
    ports:
      - 127.0.0.1:8080:3000

networks:
  spectre-network:
    name: spectre-network
    driver: bridge

volumes:
  spectre-data:
    name: spectre-data
