services:
  spectre-server:
    container_name: spectre-server
    image: jcfitzpatrick12/spectre-server:1.1.0-alpha
    environment:
      - SPECTRE_GID=${SPECTRE_GID}
      - SPECTRE_BIND_HOST=${SPECTRE_BIND_HOST}
      - SPECTRE_BIND_PORT=${SPECTRE_BIND_PORT}
    group_add:
      - "${SPECTRE_GID}"
    networks:
      - spectre-network
    volumes:
      - spectre-data:/app/.spectre-data
    devices:
      - "/dev/bus/usb"
    ports:
      - ${SPECTRE_PORT_MAP}
    mem_limit: 8g
    shm_size: 8g
    stop_signal: SIGKILL

  spectre-cli:
    container_name: spectre-cli
    image: jcfitzpatrick12/spectre-cli:1.1.0-alpha
    environment:
      - SPECTRE_SERVER_HOST=${SPECTRE_SERVER_HOST}
      - SPECTRE_SERVER_PORT=${SPECTRE_SERVER_PORT}
    networks:
      - spectre-network
    depends_on:
      - spectre-server
    tty: true
    stop_signal: SIGKILL

networks:
  spectre-network:
    name: spectre-network
    driver: bridge

volumes:
  spectre-data:
    name: spectre-data
